{% extends "__layout.twig" %}

{% block content %}
    <h1>{{ title }}</h1>
    <p>{{description}}</p>
    <ul class="nav nav-pills">
        <li class="nav-item">
         
          {% import "forms.html" as forms %}
          {{ forms.btn('Image', '/characters/'~ id ~'/image', type == 'image','primary nav-link active') }}
          </li>
        <li class="nav-item ">
      
          {% import "forms.html" as forms %}
          {{forms.btn('Description', '/characters/'~ id ~'/info',type == 'text','primary nav-link active' ) }}
          
        </li>
      </ul>
    <ul class="list-group">
    <li class="list-group-item">

    {% block objectContent %}
    {% endblock %}
{% endblock %}